<nav class="bg-accent-black h-16 flex items-center justify-between py-4 px-6">
    <a [routerLink]="['']" routerLinkActive="router-link-active" class="text-accent-orange font-nunito text-2xl font-extrabold">Restoran</a>
    <button class="border border-white border-opacity-10 py-1 px-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 opacity-55 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>          
    </button>
</nav>